<!-- index.html -->

<!DOCTYPE html>
<html lang='en-us'>
<head>

  <title>Decision Analysis Tool</title>

  <!-- Angular JS -->
  <script
  src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js'>
  </script>
  <!-- Math JS -->
  <script
  src='https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.12.1/math.min.js'>
  </script>
  <!-- Chart JS -->
  <script
  src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'>
  </script>

  <!-- JS -->
  <script src='app.js'></script>
  <!-- CSS -->
  <link rel='stylesheet' href='style.css'>

</head>

<body ng-app='dtApp'>

  <div class='navigation'>
    <a href='http://www.nobleguy.me'><img src='logo.svg' /></a>
    <span>Make Decisions, Make Sense</span>
  </div>

  <div id='page-content'>

    <div ng-controller='mainCtrl'>
      <!-- Select automatic or manual entry -->
      <div ng-show='visible.type' class='slide'>
        <h1>Type of Entry</h1>
        <p>
          Would you like to select from a pre-built list of options ("Automatic"), or enter your own ("Manual")?
        </p>
        <input type='button' value='Automatic' ng-click='automatic()' /> or
        <input type='button' value='Manual' ng-click='manual()' />
      </div>

      <!-- Topic div -->
      <div ng-show='visible.auto && visible.topic' class='slide'>
        <h1>Automatic Topic Selection</h1>
        <p>
          Select the topic you would like to explore.
        </p>
        <form ng-submit='submitAutoTopic()'>
          <select ng-model='autoTopicSelection' required
                  ng-options='aT.name for aT in autoTopics'>
          </select>
          <input type='submit' id='submit' value='Submit Topic' />
        </form>
        <input id='back-button' type='button' value='Back' ng-click="back('topic')" />
      </div>

      <div ng-show='visible.manual && visible.topic' class='slide'>
        <h1>Manual Topic Entry</h1>
        <p>
          Input the topic you would like to explore.
        </p>
        <form ng-submit='submitManualTopic()'>
          <label for='manualTopic'>Topic name:</label>
          <input type='text' id='manualTopic' placeholder='e.g. Cars'
                ng-model='manualTopicSelection' required />
          <input type='submit' id='submit' value='Next' />
        </form>
        <input id='back-button' type='button' value='Back' ng-click="back('topic')" />
      </div>

      <!-- Attributes div -->
      <div ng-show='visible.auto && visible.attributes' class='slide'>
        <h1>Automatic Attribute Selection</h1>
        <p>
          Select attributes you care about from the list below.
        </p>
        <table style='margin: 0 auto;'>
          <tr ng-repeat='(k,v) in tempChildren' >
            <td>
              <input id='k' type='checkbox' ng-model='tempChildren[k]' />
            </td>
            <td style='text-align: left;'>
              <label for='k'>{{ k }}</label>
            </td>
          </tr>
        </table>
        <input id='back-button' type='button' value='Back' ng-click="back('attributes')" />
        <input type='button' value='Next' ng-click='submitAutoAttribute()' />
      </div>

      <div ng-show='visible.manual && visible.attributes' class='slide'>
        <h1>Manual Attribute Selection</h1>
        <p>
          Input attributes manually.
        </p>
        <form ng-submit='submitManualAttribute()'>
          <label for='manualAttribute'>Attribute name:</label>
          <input type='text' id='manualAttribute' placeholder='e.g. MPG'
                ng-model='attributeName' required />
          <input type='submit' id='submit' value='Submit Attribute' />
          <input type='button' value='Next' ng-click='doneManualAttribute()'/>
        </form>
        <input id='back-button' type='button' value='Back' ng-click="back('attributes')" />
      </div>

      <!-- Weights div -->
      <div ng-show='visible.weights' class='slide'>
        <h1>Weight Elicitation</h1>
        <p>
          Drag the slider towards the attribute you care more about.
        </p>
        <table style='margin: 0 auto;'>
          <tr ng-repeat='elem in elemList'>
            <td style='text-align: right;'>
              {{ elem.pair.leftVal }}
            </td>
            <!-- TODO: Default value -->
            <!-- TODO: Display current value -->
            <td>
              <input type='range' min='1' max='9'
                    ng-model='elem.comparison' required />
            </td>
            <td style='text-align: left;'>
              {{ elem.pair.rightVal }}
            </td>
          </tr>
        </table>
        <input id='back-button' type='button' value='Back' ng-click="back('weights')" />
        <input type='button' value='Next' ng-click='submitWeight()'/>
      </div>

      <!-- Alternatives div -->
      <div ng-show='visible.alternatives' class='slide'>
        <h1>Alternatives</h1>
        <p>
          Input the name, cost, and attribute values for an alternative. To enter another alternative, click "Submmit Alternative". Once you are done adding alternatives, click "Next".
        </p>
        <form ng-submit='submitManualAlternative()'>
          <label for='altName'>Name:</label>
          <input type='text' id='altName' placeholder='e.g. Honda Civic'
                ng-model='manualAlternativeName' required />
          <label for='altCost'>Cost:</label>
          <!-- TODO: Update placeholder to currency -->
          <input type='number' id='altCost' placeholder='e.g. 3000'
                ng-model='manualAlternativeCost' required />
          <div ng-repeat='child in vals'>
            {{ child.name }} value:
            <input type='number' ng-model='child.value' required />
          </div>
          <input type='submit' id='submit' value='Submit Alternative' />
        </form>
        <input id='back-button' type='button' value='Back' ng-click="back('alternatives')" />
        <input type='button' value='Next' ng-click='doneManualAlternative()'/>
      </div>

      <!-- Results div -->
      <div ng-show='visible.results' class='slide'>
        <h1>Results</h1>
        <p>
          Based on your inputs, here are your results. You can sort the results table by clicking on the column headers.
        </p>
        <canvas id='resultsChart'></canvas>
        <table id='resultsTable'>
          <thead>
            <tr>
              <th>
                <a href='#' ng-click='orderByField="name";ascending=!ascending;'>Name</a>
              </th>
              <th>
                <a href='#' ng-click='orderByField="utility";ascending=!ascending;'>Utility</a>
              </th>
              <th>
                <a href='#' ng-click='orderByField="cost";ascending=!ascending;'>Cost</a>
              </th>
              <th>
                <a href='#' ng-click='orderByField="utilityPerCost";ascending=!ascending;'>Utility/Cost</a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='alt in data.alternatives | orderBy:orderByField:ascending'>
              <td>{{ alt.name }}</td>
              <td>{{ alt.utility }}</td>
              <td>{{ alt.cost }}</td>
              <td>{{ alt.utilityPerCost }}</td>
            </tr>
          </tbody>
        </table>
        <input id='back-button' type='button' value='Back' ng-click="back('results')" />
        <input type='button' value='Done' ng-click='doneResult()'/>
      </div>

    </div>

    <div id='footer'>
      Copyright 2017 Benjamin Noble. Last updated 15 May 2017.
    </div>
  </div>
</body>
</html>
