/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  background-color: #b3d9ff;
  border-radius: 1em;
  border-color: #004d99;
  border-width: 1em;
  float: center;
}
.backBtn, .nextBtn{
  color: white;
  background-color: #004d99;
  border-radius: 1em;
  border-color: #004d99;
  border-width: 1em;
  border-style: solid;
  text-align: center;
}
.promptText, .responseArea {
  display: none;
  align-self: center;
  text-align: center;
  border-radius: 1em;
  border: 1px solid #004d99;
  padding: 5em;
  height: 50%;
  width: 100%;
}
.leftSide {
  width: 50%;
  float: left;
}
.rightSide {
  text-align: center;
  width: 50%;
  float: right;
}
