<!DOCTYPE html>
<html>
 <head>
  <title>Decisions</title>
 </head>
 <link rel="stylesheet" type="text/css" href="../public/css/style.css">
 <body>
   <div>
     <!--this button cycles to the previous slide if no previous slide is
     available, it prompts the user if they want to abandon progress and
     return to nobleguy.me-->
     <button class='backBtn' onclick="previousSlide()">Back</button>
     <div>
       <span class='leftSide'>
         <br>
         <!--All slides belong here. only one slide should be visible at a time-->
         <!-- Slide 1 -->
         <div class='promptText' id="slide1" style="display:block">
           <form>
             Input a number:<br>
             <input type='text' id='slide1input'><br>
             <input type="button" value='submit' onclick='storeNum()'><br>
           </form>
           This is slide1</div>

           <!-- slide 2 -->
           <div class="promptText" id='slide2'>
           <form>
             Input a number:<br>
             <input type='text' id='slide2input'><br>
             <input type="button" value='Submit' onclick='storeNum()'><br>
           </form>
           This is slide2</div>

           <!-- slide 3 -->
         <div class="promptText" id="slide3">
           <form>
             Input a number:<br>
             <input type='text' id='slide3input'><br>
             <input type="button" value='submit' onclick='storeNum()'><br>
           </form>
           This is slide3</div>
         <br>
         <!--This button cycles through to the next slide-->
         <button class='nextBtn' onclick="nextSlide()">
           Next
         </button>
       </span>
       <!--This is the right-hand side of the page. we can put a graph or table here-->
       <span class='rightSide' id='rightSide'>
         a graph or something goes here<br>
         <span class='graphBox' id="gb1">
           gb1<br>
         </span>
         <span class='graphBox' id="gb2">
           gb2<br>
         </span>
         <span class='graphBox' id="gb3">
           gb3<br>
         </span>


       </span>

     </div>

   </div>

<script src="../public/js/index.js"></script>
 </body>
</html>
