<!DOCTYPE html>
<html>
 <head>
  <title>Decisions</title>
 </head>
 <link rel="stylesheet" type="text/css" href="../public/css/style.css">
 <body>
   <div>
     <!--this button cycles to the previous slide if no previous slide is
     available, it prompts the user if they want to abandon progress and
     return to nobleguy.me-->
     <button class='backBtn' onclick="previousSlide()">Back</button>
     <div>
       <span class='leftSide'>
         <br>
         <!--All slides belong here. only one slide should be visible at a time-->
         <div class='promptText' id="slide1" style="display:block">This is slide1</div>
         <div class="promptText" id='slide2'>This is slide2</div>
         <div class="promptText" id="slide3">This is slide3</div>
         <br>
         <!--This button cycles through to the next slide-->
         <button class='nextBtn' onclick="nextSlide()">
           Next
         </button>
       </span>
       <span class='rightSide'>
         a graph goes here
       </span>

     </div>

   </div>

<script src="../public/js/index.js"></script>
 </body>
</html>
