<!DOCTYPE html>
<html>
 <head>
  <title>Decisions</title>
 </head>
 <link rel="stylesheet" type="text/css" href="../public/css/style.css">
 <body>
   <div>
     <!--this button cycles to the previous slide if no previous slide is
     available, it prompts the user if they want to abandon progress and
     return to nobleguy.me-->
     <div>
       <span class='leftSide'>
         <br>
         <div id='slide1' class='tabcontent'>
           <h1>This is slide 1</h1>
           <p>What are you deciding?</p>
           <input id='topic' type='text' style="width:70%" placeholder="What to buy, where to go, etc.">
         </div>
         <div id='slide2' class='tabcontent'>
           <h1>This is slide 2</h1>
           <p>What are three attributes?</p>
           <table>
             <tr>
               <td>attribute 1</td>
               <td><input id=att1 type="text" placeholder="cost or something">
             </tr>
             <tr>
               <td>attribute 2</td>
               <td><input id=att2 type="text" placeholder="cost or something">
             </tr>
             <tr>
               <td>attribute 3</td>
               <td><input id=att3 type="text" placeholder="cost or something">
             </tr>
           </table>
         </div>
         <div id='slide3' class='tabcontent'>
           <h1>This is slide 3</h1>
           <div>
             <span id='L1' class='sliderTextL'>attribute 1</span>
             <input type='range' id='range1' min='-3' max='3'>
             <span id='R1' class='sliderTextR'>attribute 2</span>
             <br>
           </div>
           <div>
             <span id='L2' class='sliderTextL'>attribute 1</span>
             <input type='range' id='range2' min='-3' max='3'>
             <span id='R2' class='sliderTextR'>attribute 3</span>
             <br>
           </div>
           <div>
             <span id='L3' class='sliderTextL'>attribute 2</span>
             <input type='range' id='range3' min='-3' max='3'>
             <span id='R3' class='sliderTextR'>attribute 3</span>
             <br>
           </div>
         </div>
       </span>
       <!--This is the right-hand side of the page. we can put a graph or table here-->
       <span class='rightSide' id='rightSide'>
         <!-- a graph or something goes here<br> -->
         <div class='tab'>
           <button id='defaultSlide' class='tablinks' onclick='chooseSlide(event, "1")' style="margin-top:5%">Slide 1</button>
           <button class='tablinks' onclick='chooseSlide(event, "2")'>Slide 2</button>
           <button class='tablinks' onclick='chooseSlide(event, "3")'>Slide 3</button>
         </div>


       </span>

     </div>

   </div>

<script src="../public/js/index.js"></script>
 </body>
</html>
